/* .box{
    background-color: red;
    width: 100px;
    height: 100px;
}

.circle{
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-bottom: 10px;
}
.heart{
    background-color: violet;
    width: 40px;
    height: 40px;
    display: inline-block
} */

/* START TIMEOUT ADN INTERVAL JS */
.box{
    width: 50px;
    height: 50px;
    background-color:blue;
    top: 0px;
    left: 0px;
    position: absolute;
}
.wrapper{
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid red;
}
.btn-block{
    background-color: grey;
}
button{
    height: 30px;
    min-width: 50px;
    margin: 10px;
}
/* END TIMEOUT ADN INTERVAL JS */